body{
    background-color: rgb(225, 192, 197);

}
.about-section {
    padding: 50px;
    text-align: center;
    
}
.about-heading {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-text {
    font-size: 18px;
    margin-bottom: 30px;
}
.subscribe-form {
    max-width: 400px;
    margin: 0 auto;
}
.subscribe-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.subscribe-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}